.content {
    display: flex;
    height: calc(100vh - 200px);
}

.dashboardWrapper {
    overflow-y: auto;
}

.postListWrapper {
    overflow-y: auto;
}

.paginationWrapper {
    border-top: 1px solid;
    padding-top: 10px;
}
